<mat-tab-group>
  <mat-tab label="Kata"> Coming soon </mat-tab>
  <mat-tab label="Kihō"> Coming soon </mat-tab>
  <mat-tab label="Invocations"> Coming soon </mat-tab>
  <mat-tab label="Rituals"> Coming soon </mat-tab>
  <mat-tab label="Shūji"> Coming soon </mat-tab>
  <mat-tab label="Mahō"> Coming soon </mat-tab>
  <mat-tab label="Ninjitsu"> Test <mat-icon svgIcon="opportunity"></mat-icon> </mat-tab>
  <mat-tab label="Starred"> Coming soon </mat-tab>
</mat-tab-group>

<div>
  <h3>Disclaimer</h3>
  <p>This site is intended as an easily-accessible digital reference for products you already own. Please ensure you only access content in accordance with your local laws.</p>
</div>
